/* CSS Document */

.listtable {
	width: 100%;
	padding: 0px;
}

.listtable tr:nth-child(even) {
	background-color: #F0F0F0;
}

.listtable tr:nth-child(odd) {
	background-color: #FFFFFF;
}

.listtable .rowcontent {
	padding-bottom: 5px;
}

.listtable .rowcontent .header {
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
	font-size: 18px;
	font-weight:600;
}

.listtable td {
	padding: 5px 15px 10px 15px;
}

.listtable .leftnote {
	display:inline-block;
	float: left;
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
	font-size: 14px;
	color:#999999;
	font-weight:400;
}

.listtable .rightnote {
	display:inline-block;
	float: right;
	background: url(../../assets/images/bullet.png) no-repeat left center;
	padding-left: 25px;
}





/* ----------------------------------------------------------------------------------------------- */
/* START: Results list table formatting */
/* ----------------------------------------------------------------------------------------------- */

.resultslisttable {
	width: 100%;
}
.resultslisttable tr td {
	padding: 5px;
	vertical-align:top;
}
.resultslisttable tr:first-child td {
	font-style: italic;
}
.resultslisttable tr:not(:first-child) td {
	border-top: 1px solid #EAECEE;
}

.resultslisttable.preview tr:not(:first-child) td:first-child, .resultslisttable.preview tr:not(:first-child) td:last-child {
	display: none;
}

.resultslisttable.editable tr:not(:first-child) td:first-child {
	background: url(../../assets/images/edit_icon.png) no-repeat center center;
	width: 39px;
	height: 39px;
	cursor:pointer;
}
.resultslisttable.editable tr:not(:first-child) td:last-child {
	background: url(../../assets/images/remove_icon_bg.png) no-repeat center center;
	width: 39px;
	height: 39px;
	cursor:pointer;
}

.resultslisttable tr td div, .resultslisttable.editable tr td div {
	vertical-align:top;
	width: 30%;
}


/* ----------------------------------------------------------------------------------------------- */
/* END: Results list table formatting */
/* ----------------------------------------------------------------------------------------------- */




